<section class="login">
    <div class="login__container">
        <div class="login__img">
            <img src="assets/images/img-login.png" alt="">
        </div>
        <div class="login__form">
            <div class="login__logo">
                <img src="assets/images/img1.png" alt="">
                <img src="assets/images/img2.png" alt="">
            </div>

            <div class="login__header">
                <h1>Log In to Admin Panel</h1>
                <span>Enter your phone number and password below</span>
            </div>
            <div class="login__body">
                <app-input [isValid]="true" [isInvalid]="false" label="PHONE NUMBER">
                </app-input>

                <app-input [isValid]="true" [isInvalid]="false" label="PASSWORD">
                </app-input>
            </div>

        </div>
    </div>
</section>