.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  &__container {
    width: 48.75rem;
    display: flex;
    border-radius: 1.875rem;
  }
  &__img {
    // background-color: red;
    flex: 1 1 25rem;
    display: flex;
    &img {
      flex: 1;
    }
  }
  &__form {
    // background-color: blue;
    flex: 1 1 23.75rem;
    padding-left: 2.1875rem;
    padding-right: 1.8125rem;
    background-color: #e5e5e5;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2.25rem;
    padding-bottom: 1.25rem;
  }
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8125rem;
    padding-bottom: 3.125rem;
    h1 {
      margin: 0;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media all and (max-width: 780px) {
  .login {
    padding: 0 1rem;

    &__img {
      display: none;
    }
    &__form {
      //   background-color: blue;
      flex: 1;
    }
  }
}
